.wrap{
    display: flex;
    align-items: center;
}

.wrap_item {
    display: flex;
    flex-direction: column;
    margin: 0 7px;
}

.url1 {
    text-align: center;
}

i {
   color: #000000;
}

.show_user {
    display: flex;
}

.img_avatar {
    border-radius: 60px;
}

.comments{
    padding: 15px;
}

.comment-item{
    display: flex;

    background-color: #c1c5ca;
    margin: 10px 10px 10px 50px;
}

.user-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    flex-basis: 10%;
}

.content-item{
    padding-top: 10px;
    padding-left: 10px;
    flex-basis: 85%;
}

.close-item{
    display: flex;
    justify-content:flex-end;
    flex-basis: 5%;
}